<!-- Loop over each object in the topics array -->
{{#each topics as |topic| }}
<div class="row mb-4 topic">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/topic/{{topic.id}}">{{topic.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount topic.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{topic.user.name}} on {{format_date topic.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{topic.description}}
    </p>
  </div>
</div>
{{/each}}
